/* .table {
    font-size: 10px;
  }
  
  .table tr,.table td {
     height: 10px;
  }
  
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
  {
    padding:0; 
  } */

/* body {
    padding: 25px;
    background-color: black;
    color: white;
    font-size: 25px;
  } */

.day {
  background: #eee;
  color: black;
}

@media (prefers-color-scheme: dark) {
  .day.dark-scheme {
    background: #333;
    color: white;
  }
  .night.dark-scheme {
    background: black;
    color: #ddd;
  }
}
